

body {
    margin:0;
    font-family: "Lato", sans-serif;
}
.frame {
    border-radius: 100px;
    padding: 2px;
    height: 200px; /* equals max image height */
    width: 200px;
    z-index: 1;
    top: 100px;
    right: 100px;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 2px;
    white-space: nowrap;
    margin: 10px 10px 10px 25px;
}
.photo {
    border-radius: 35px;
    background-color: #000000;
    margin-left:280px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    max-width: 100%;
    max-height: 100vh;   
}
.framea {
    margin: auto auto auto 30px;
}
.sidenav {
    margin:0;
    padding:0;
    height: 100%;
    width: 250px;
    position:fixed;
    z-index: 1;
    overflow:auto;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 10px;
}
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #808080;
        display: block;
    }

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    border-radius: 35px;
    margin-left: 260px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 8px 10px;
    background-color: rgba(128, 128, 128, 0.26) HighlightText
}
.maincv {
    margin-left: 260px; /* Same as the width of the sidenav */
    font-size: 13px; /* Increased text to enable scrolling */
    padding: 8px 10px;
    left: 220px;
}
@media screen and (max-width: 700px) {
  .sidenav {
    width: auto;
    height: auto;
    position: relative;
  }
  .sidenav {float: left;}
  div.content {margin-left: 0;}
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidenav {
       
        height:50px;
        position: relative;
        width: 20%;
        text-align:right;
        float: none;
    }
}
   

@media screen and (max-width: 700px) {
  .main{
    width: auto;
    height: auto;
    position: relative;
  }
  .main {float: left;}
  div.main{margin-left: 0;}
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .main {
        height: auto;
        width: auto;
        position: relative;
        text-align: left;
        float: none;
        margin-left: auto;
    }
    @media screen and (max-width: 400px) {
        .photo {
            margin-left: auto;
        }

        @media screen and (max-width: 400px) {
            .maincv {
                margin-left: auto;
            }
        }




